@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: black;
	}
}

@layer base {
	button {
		@apply text-white border bg-teal-600 border-teal-600
	  hover:bg-transparent hover:text-teal-600 rounded-md;
	}
	button.create {
		@apply text-white border bg-zinc-600 border-zinc-600
	  hover:bg-transparent hover:text-zinc-600 rounded-md;
	}
  }
  .md\:ml-64 {
    margin-left: 16rem;
  }